//--------------------------------------------------------------------------//
// Template blocks                                                          //
//--------------------------------------------------------------------------//

// Top nav -----------------------------------------------------------------//

nav
    height: 6rem
    border: 0
    a
        color: $green
        font-weight: 600
    ul
        list-style: none
        // Potential deprecation: .main with .logo
        &.main
            width: 30%
            display: none
        &.right
            width: 70%
            margin: 1.5rem 3rem
            float: right
            text-align: right

// Content -----------------------------------------------------------------//

// Break long urls
.container a
    +word-wrap()

#content
    margin: 0
    padding: 0
    // Override defaults
    h1
        margin: 4.5rem 0 1.5rem

    h1.pageTitle, h1.pageTitle a
        margin: 6rem 0 3rem
        font-size: 3.5rem


// Sidebar -----------------------------------------------------------------//

.sidebar
    border: 0
    a
        color: $green
        font-weight: 600
    ul
        margin: 3rem 0
        padding: 0
        li
            margin: 0.3rem 0 0
            padding: 0
            list-style: none

    .icon
        margin: 3rem 0
        img
            max-width: 15rem

    #searchform
        margin: 3rem 0

        input[type='text']
            width: 12rem
            padding: 0 0 0 1rem
            background: $green-searchform none repeat scroll 0% 0%
            border: 0
            border-radius: 2.7rem 0 0 2.7rem / 4.7rem 0 0 4.7rem
            transition: all 0.12s ease-out 0s
            font-size: 1.8rem
            line-height: 1.6
            font-weight: 400
            color: $green
            &:hover
                width: 15rem

        button[type='submit']
            width: 4rem
            margin: 0 0 0 -1rem
            display: inline
            background: url('/static/img/icon-search-white.png') no-repeat scroll 1rem center $green
            border-radius: 0 2.7rem 2.7rem 0 / 0 4.7rem 4.7rem 0
            //font-size: 1.6rem
            font-size: 1.6rem
            font-weight: 400
            color: transparent
            text-shadow: none

    #exportbox
        margin: -0.9rem 0 0
        padding: 0
        select, div.select
            width: 18.2rem

        input#export
            margin: 1rem 0 3rem
            padding: 0.6rem 1.5rem
            border-radius: 2.7rem/4.7rem
            &:hover
                padding: 0.6rem 1.5rem

div.markupHelp pre code
    margin: 3rem 0 1.5rem
    padding: 1.5rem
    overflow: auto


// Footer ------------------------------------------------------------------//

footer
    width: 100%
    margin: 0
    padding: 3rem 0
    float: left
    color: $bright-blue-text
    text-align: center
    font-size: 1.3rem
    font-weight: 400
    a
        font-size: 1.3rem
    .logo
        width: 18rem
        border: 0
        margin: 6rem auto 3rem


//--------------------------------------------------------------------------//
// Page-specific elements                                                   //
//--------------------------------------------------------------------------//

// Article -----------------------------------------------------------------//

// Tab menu
ul.tabs
    margin: 0 0 2rem 0
    padding: 0.5rem 0
    li
        display: inline
        margin: 0 3rem 0 0
        // Hide discuss tab
        &:nth-child(4)
            display: none
        &.selected
            border: 0
        a
            font-size: 1.5rem
            font-weight: 600
            color: $green
            &:hover
                padding-bottom: 0.65rem
                border-bottom: 0.3rem solid $green
                color: $dark-blue
        &:first-child
            margin-left: 0

// Breadcrumbs
.parents
    color: $bright-blue
    margin: 0

// Table of contents
nav#TOC
    width: auto
    height: auto
    margin: 0 0 3rem 0
    padding: 0
    border: 0.3rem solid transparentize($bright-blue, 0.4)
    border-radius: 0.6rem
    display: inline-block
    a
        float: none
        margin: 0
        color: $green-shade
        font-weight: inherit

header#tocTitle
    margin: 0 3rem 3rem
    padding: 3rem 0 0 0
    font-size: 2.1rem
    font-weight: 400

#TOC ul
    margin: 0
    padding: 0
    list-style-type: none
    li
        margin: 3rem
        padding: 0
        ul
            margin: 0 0 0 3rem
            padding: 0
            li
                margin: 0
                padding: 0

// Hide footnote overlays
#footnotediv
    display: none

// Image figure
.figure
    margin: 3rem 0


// _edit -------------------------------------------------------------------//

#editform
    textarea
        height: 25em
        width: 98%
        font-size: 2rem
        font-weight: 300

    #logMsg
        width: 98%
        margin-right: 1.5rem
        margin-bottom: 0.3rem

    input[type='submit'], input[type='button']
        display: inline
        margin: 3rem 1.5rem 3rem 0

#previewpane p
    color: $dark-blue


// _index ------------------------------------------------------------------//

.index
    margin: 1.5rem 3rem 3rem
    padding: 0

    ul
        margin: 0
        padding: 0
        list-style: none

    li
        // Override default
        margin: 0.6rem 0 !important
        padding: 0 0 0 3rem
        list-style: none
        background-position: 0 0.9rem
        background-repeat: no-repeat
        &.page
            background: url('/static/img/icon-page.png') no-repeat 0% 55%
        &.folder
            background: url('/static/img/icon-folder.png') no-repeat 0% 70%

    a
        color: $green
        text-decoration: none
        &:hover
            color: $dark-blue
            text-decoration: none
        &.updir
            font-weight: 400

    a + a
        margin-left: 1.5rem


// _categories -------------------------------------------------------------//

div#categoryList
    margin: 3rem 0

#categoryList
    ul
        margin-left: 0
    ul > li
        display: inline
        margin: 0 1.5rem 0 0
        padding: 0.1rem 1.5rem 0.3rem
        background: $green
        border: 0
        border-radius: 0.3rem
        a
            font-size: 1.5rem
            color: $white
            padding: 0.1rem 0

    ul li:hover
        text-shadow: 0rem 0rem 1rem $white-text-shadow


// _upload -----------------------------------------------------------------//

label[for='file'], label[for='wikiname'], label[for='logMsg'], label[for='overwrite']
    display: inline !important

input#file, input#wikiname, input#logMsg
    width: 65.71%
    margin-bottom: 1.5rem

input#wikiname
    display: block

input#overwrite
    display: inline
    margin: 3rem 0.6rem 0 -0.8rem
    padding: 0

input#upload
    margin: 3rem 0


// Code view ---------------------------------------------------------------//

// Reset default
.sourceCode *, .sourceCode tr :nth-child(2n)
    margin: 0
    padding: 0
    text-align: left
    background: transparent
    font-size: 1.5rem
    line-height: 1.5

code.sourceCode
    padding: 0 1rem 0 1rem
    overflow-x: auto

tr.sourceCode td.sourceCode, code.sourceCode
    background: $bright-blue

td.lineNumbers pre
    padding: 0 1rem 0 0
    border: 0
    text-align: right
    line-height: 1.28


// _history ----------------------------------------------------------------//

.diff
    white-space: pre-wrap
    word-wrap: break-word

h2.revision
    margin: 0 0 0.3rem 0
    padding: 0
    font-size: 1.3rem
    font-weight: 600
    color: $bright-blue-text

.added
    background: $bright-blue
.deleted
    text-decoration: line-through
    color: $dark-blue


// _search -----------------------------------------------------------------//

#pattern
    font-weight: 600
#pattern, pre.matches span.highlighted
    padding: 0 0.3rem
    background: $gold

pre.matches
    margin: 0
    padding: 0
    white-space: pre-wrap
    word-break: break-word

.search_result, .search_result .match
    margin: 0 0 1.5rem 0


// _login, _register -------------------------------------------------------//

#loginForm
    div
        margin: 1rem 0 3rem

    // workaround for line breaks
    br
        display: none

    input[type='text']
        display: block
        margin: 0.3rem 0 1.5rem 0

input#login, #loginForm input[type='submit']
    +big-button($white, $green, $green-shade)
    margin: 3rem 0
